project:
  type: website
  output-dir: docs     # Quarto will put the HTML here for GitHub Pages

website:
  title: "dat303-blog"
  description: "A blog built with Quarto"
  site-url: "https://richeder7.github.io/dat303-blog/"
  navbar:
    right:
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
